body
{
    background-image: url(../Assets/images/coin.jpg);
    background-size: cover;
}
#mainpage
{
    width: 800px;
    margin-left: 330px;
}
#canvas
{
    background-color: white;
    border-radius: 15px;
}

#input
{
    position: absolute;;
    left:430px;
    top:400px;
    width:370px;
    height: 40px;
    font-size: 25px;
}